@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OKoul - .NET version</h1>
    <p class="display-6">In this section, you will find the quote and author info.</p>
</div>
